@font-face {
  font-family: 'FuturaPT-Book';
  src: url('assets/fonts/FuturaPT-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaPT-Demi';
  src: url('assets/fonts/FuturaPT-Demi.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaPT-Heavy';
  src: url('assets/fonts/FuturaPT-Heavy.ttf') format('truetype');
}
