/*
*
* UI Kit
*
*/

// Breakpoints
$breakpointLg: 940px;
$breakpointMd: 767px;
$breakpointSm: 425px;

// Container
$containerLg: 1200px;
$containerMd: 640px;
$containerSm: 100%;

// Transition
$transition: 0.25s ease;

// Fonts
$font-button: 'FuturaPT-Demi';
$font-text: 'FuturaPT-Book';


// Colors
$color-background: #181818;

$color-font-default: #FFFFFF;
$color-font-button: #FFFFFF;

$color-icon-default: #FFFFFF;

$color-button-bg-default: #2E1C1C;
$color-button-bg-accent: #EC3F3F;
$color-button-bg-active: #FF1E1E;
